.main_box {
  min-height: 100vh;
  background-color: #f1f2f5;
}

.content {
  padding: 0 20px;
}

//--------search_box---------
.search_box {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  .search_inp {
    width: 700px;
  }
}

.filter_group {
  min-height: 150px;
  background-color: #fff;
  padding: 25px;
  .filter_item {
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid #f0f0f0;
    p {
      display: inline-block;
      margin-right: 30px;
      margin-bottom: 0;
    }
    span {
      margin-right: 30px;
    }
    span:hover {
      cursor: pointer;
      color: #1890ff;
      transition: all 0.5s;
    }
  }
}

.table {
  margin-top: 20px;
  background: #fff;
  padding: 10px;
  .title {
    font-size: 16px;
    padding: 0 15px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .common_list {
      margin-left: 10px;
      cursor: pointer;
    }
    .common_list:hover {
      color: #1890ff;
      transition: all 0.5s;
    }
  }
  .select_box {
    box-sizing: border-box;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eaf7fe;
    height: 35px;
    padding: 0 20px;
    border: 1px solid #a6d7fb;
    margin-bottom: 10px;
    .select_length {
      color: #4091f7;
      margin: 0 3px;
    }
    .actions {
      width: 100px;
      display: flex;
      justify-content: space-around;
    }
  }
  .img {
    width: 80px;
    height: 50px;
    cursor: pointer;
  }
}
